@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.projects {
    &__heading {
        font-size: 5rem;
        color: $color-primary;
        padding-top: 10rem;
        
    }

    &__container {
        width: 80%;
    }
}