@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre|Catamaran|Quicksand&display=swap");
@import "../abstracts/variables";

body {
  // font family, weidhgt, line height, color comes here for the fonts
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

.primary-heading {
  font-family: "Abhaya Libre", serif;
  letter-spacing: 3px;
}

.secondary-heading {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
