.u-flex {
  display: flex;
}

.u-space-between {
  justify-content: space-between;
}

.u-text-center {
  text-align: center;
}


.u-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2.5rem;
}
.u-margin-bottom-smallest {
  margin-bottom: 1.5rem;
}

