// Colors
$color-black: rgb(24, 0, 8);

$color-white: #ffff;

$color-primary: rgb(102, 38, 59);
$color-primary: rgb(110, 41, 51);

$color-primary-light: rgb(205, 155, 161);

$color-grey: rgb(180, 180, 180);

// Box shadows

$box-shadow: 0 2rem 3rem rgba($color-black, 0.15);
$box-shadow-hover: 0 2rem 4rem rgba($color-black, 0.15);
$box-shadow-inset: inset 0px 0px 61px 0px rgba(58, 30, 30, 0.38);
$box-shadow-active: 0 2rem 2rem rgba($color-black, 0.15);