@import '../abstracts/variables';

.section-header {
  // background-image: url(../images/bg-modified.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba(4, 56, 4, 0.5),
      rgba(21, 100, 6, 0.5)
    ),
    url(../images/bg-modified.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
