@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.contact {

  @include respond(phone) {
    width: 90%;
  }
  &__heading {
    font-size: 5rem;
    color: $color-grey;
  }

  &__text {
    font-size: 3rem;
    color: $color-grey;
  }

  &__link {
    color: $color-primary;
    transition: transform 0.5s;

    &:hover {
      color: $color-grey;
      
    }
  }
}
