@import '../../sass/abstracts/variables';

.navbar {
    position: fixed;
    right: 8rem;
    top: 3rem;
    z-index: 9;

    &__link {
        &:link, &:visited {
            color: $color-white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
            font-family: "Quicksand", sans-serif;
            padding: 1rem 2rem;
            margin: 0 1rem;
            border: 1px solid transparent;
            border-radius: 3rem;
            transition: all .5s;
        }

        &:hover {
            border: 1px solid $color-white;
        }
        
    }
}