@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.navbar {
    position: fixed;
    right: 8rem;
    top: 1.5rem;
    z-index: 9;
    transition: all .4s;

    @include respond(tab-port) {
        right: 3rem;
      }

      @include respond(phone) {
        display: none;
    }

    &__link {
        &:link, &:visited {
            color: $color-white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
            font-family: "Quicksand", sans-serif;
            padding: 1rem 2rem;
            margin: 0 1rem;
            border: 1px solid transparent;
            border-radius: 3rem;
            transition: all .5s;
            display: inline-block;
        }

        &:hover {
            transform: translateY(-5px);
        }
        
    }
}

.navbar-container {
    width: 100vw;
    background-color: transparent;
    height: 10vh;
    position: fixed;
    z-index: 10;

    @include respond(tab-port) {
        height: 8vh;
    }

    @include respond(phone) {
        display: none;
    }
}

.hamburger {
    display: none;
  
    @include respond(phone) {
      display: block;
      position: fixed!important;
      top: 3rem;
      right: 3rem;
      z-index: 9;
    }
  }