@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre|Catamaran|Quicksand&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 62.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.app {
  scroll-behavior: smooth; }

body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #180008; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

.primary-heading {
  font-family: "Abhaya Libre", serif;
  letter-spacing: 3px; }

.secondary-heading {
  font-family: "Abhaya Libre", serif;
  letter-spacing: 1px; }

.tertiary-heading {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 1px; }

.u-flex {
  display: flex; }

.u-space-between {
  justify-content: space-between; }

.u-text-center {
  text-align: center; }

.u-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem; } }

.u-margin-bottom-bigger {
  margin-bottom: 12rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem; }

.u-margin-bottom-smallest {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-header {
  background-image: linear-gradient(to right bottom, rgba(80, 25, 43, 0.671), rgba(78, 22, 41, 0.5)), url(../images/blackwhiteSmall.jpg);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.section-projects {
  max-width: 100vw;
  background-color: #fafafa; }

.section-about {
  background-image: linear-gradient(to right bottom, rgba(250, 250, 250, 0.971), rgba(250, 250, 250, 0.5)), url(../images/contact-bg4Small.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 16rem;
  width: 100%;
  position: relative; }

.section-contact {
  background-color: #18070d;
  height: 100vh;
  width: 100%;
  position: relative; }

.footer {
  height: 6rem;
  background-color: #3b3b3b;
  position: relative; }
